:host {
  display: block;
  padding: 10px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
}

:host .star {
  width: 40px;
  height: 40px;
  background: transparent;
  background-size: cover;
  border: none;
  cursor: pointer;
}

:host * {
  font-size: 15px;
  font-family: "FiraSans", sans-serif;
}

:host label {
  text-align: left;
  margin-bottom: 3px;
  display: block;
}

:host .star:active {
  outline: none;
}

:host .active {
  background: url(star.svg) no-repeat;
}

:host .inactive {
  background: url(star-grey.svg) no-repeat;
}
